@media screen and (min-width: 569px) and (max-width: 1080px) {

  :root {
   
  
    --sp-big: 5rem;
    --sp-lrg: 2.5rem;
    --sp-med: 1.5rem;
    --sp-sml: 1.125rem;

    --fs-lrg: 2rem;
    --fs-med: 1.25rem;
    --fs-sml: 1rem;

  
  }

  .navbar--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__flexContainer {
    background-color: var(--col-acc);
    width: 100%;
    height: auto;
    position: absolute;
    top:80px;
  }

  .navbar__flexContainer--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sp-sml);
    padding: var(--sp-med) 0;
    transform: translateX(100%);
  }

  .navbar__navlink{
    color: var(--col-bg);
   font-size: var(--sp-med);
  }

  .navbar__burger {
    display: block;
    cursor: pointer;
  }

  .transX {
    transform: translateX(0);
  }

  .banner__title {
    display: block;
  }
  
  .banner__logoContainer{
    display: none;
  }

  .content__imageContainer--4{
    grid-template-columns: repeat(2, 1fr);
  }

  .content__imageContainer--8{
    grid-template-columns: repeat(4, 1fr);
  }
  
  .content__container--grid31{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 500px;
    grid-gap: var(--sp-med);
  }

  .content__title {
    width: 25%;
  }




}
