


@media screen and (max-width: 568px) {

  :root {

    --sp-big: 5rem;
    --sp-lrg: 1.5rem;
    --sp-med: 1.25rem;
    --sp-sml: 1.125rem;

    --fs-lrg: 2rem;
    --fs-med: 1rem;
    --fs-sml: 1rem;

  
  }
  
  .navbar--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__flexContainer {
    background-color: var(--col-acc);
    width: 100%;
    height: 60vmax;
    position: absolute;
    top:80px;
    z-index: 5;
  }

  .navbar__flexContainer--flex{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sp-sml);
    padding: var(--sp-med) 0;
    transform: translateX(100%);
    
  }
  
  .navbar__navlink{
    color: var(--col-bg);
   font-size: var(--fs-sml);
  }

  .navbar__logo {
    opacity: 0;
  }

  .navbar__burger {
    display: block;
    cursor: pointer;
  }

  .transX {
    transform: translateX(0);
  }

  .banner__title {
    display: none;
  }

  .banner__logoContainer{
    display: block;
  }

  .opa100 {
    opacity: 100%;
  }

  .opa000{
    opacity: 0;
  }

  .content__imageContainer{
    grid-template-columns: 1fr;
  }

  .content__imageContainer--8{
    grid-template-columns: repeat(2, 1fr);
  }

  .content__container--grid31{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 250px;
    grid-gap: var(--sp-med);
  }

  .content__title {
    width: 60%;
  }

  .nav__active{
    display: none;
  }


}
